---
layout: index
title: Home
permalink: /
---
<div class="spacer"></div>

{% include principes.html title="Nos principes de travail" limit=3 %}

{% include services.html %}

{% include blog-roll-hp.html title="Projets récents" limit=6 %}

{% include members.html %}

{% include atelier.html %}

<!-- 
{% include questions.html title="Des questions ?" %}
--> 

<!-- 
<div class="container mtb">
    <div class="row">

        <div class="col-md-4">
            <h4>Articles récents</h4>
            <div class="hline"></div>
            {% for post in site.categories['blog'] limit:5 %} 
                <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}.</a></p>
            {% endfor %} 
        </div>

    </div> 
</div> 
-->