<div id="atelier" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <img class="img-responsive" src="{{ "/assets/img/about.jpg" | prepend: site.baseurl }}" alt="">
            </div>
            <div class="col-md-4">
                <h3>Notre atelier</h3>
                <p>Notre atelier, situé dans des anciens locaux industriels, juste au sud du Parc Jarry, est l'endroit idéal pour développer des projets collaboratifs, dans une atmosphère confortable et créative.</p>
                <p>Il comporte tous les outils nécessaires pour prottoyper des projets technologiques. Impression 3D, scan 3D, plateformes programmables, outils de détection.</p>
                <p>Il est pensé aussi 'en mode prototype' et évolue en permanence, au fur et à mesure des besoins et de nos trouvailles.</p>
            </div>
        </div>
    </div>
</div>