<div id="cwrap">
    <div class="container">
        <div class="row centered">
            <h3>Collaborateurs</h3>
            <hr class="smb">
            <div class="col-md-10 col-md-offset-1 col-xs-12">
                <div class="row">
                {% for client in site.clients %}
                    <div class="col-lg-4 col-md-4 col-xs-4" style="text-align:-webkit-center;">
                        <a href="{{ client.link }}"><img src="{{ "/assets/img/clients/" | prepend: site.baseurl }}{{ client.img }}" class="img-responsive"></a>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div> <!--/row -->
    </div> <!--/container -->
</div> <!--/cwrap -->