<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>TinkTank est un laboratoire technologique collaboratif pour le domaine de la culture.</h1>
                <h5>A mi-chemin entre un fablab, un incubateur et un laboratoire de recherche, TinkTank accompagne la nouvelle génération de projets culturels, tout en créant du commun.</h5>			
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ site.baseurl }}/assets/img/browser.png" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->