<div id="principes" class="section">
    <div class="container">
        <div class="row centered">
            {% if include.title %}<h3>{{ include.title }}</h3>{% endif %}
            <hr>
            {% for principe in site.principes %}
            <div class="col-md-4">
                <i class="fa fa-{{ principe.faicon }}"></i>
                <h4>{{ principe.name }}</h4>
                <p>{{ principe.texte }}</p>
            </div>
            {% endfor %}       
        </div>
    </div> <!--/container -->
</div> <!--/service -->