<div id="services" class="section">
    <div class="container">
        <div class="jumbotron smt">
            <p>{{ site.about_plus }}</p>
            <p>Nous proposons trois types de services :</p>
            <ul>
                <li>Des ateliers d'accélération et d'exploration d'une journée</li>
                <li>De l'accompagnement de projet de A à Z</li>
                <li>Des sprints créatifs dédiés (hackathons)</li>
            </ul>
            <p>Des questions ? Une idée de projet ? <a href="/contact">Contactez-nous</a> pour en discuter</p>
        </div>
    </div>
</div>